<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="common asm Test Suite" parallel="tests"
    thread-count="2">
    <test name="instantiator factory test">
        <packages>
            <package
                name="cn.featherfly.common.asm.instantiator.*" />
        </packages>
    </test>
    <test name="property accessor factory test">
        <packages>
            <package
                name="cn.featherfly.common.bean.*" />
        </packages>
    </test>
</suite>